{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Development PiHub: Access Control{% endblock %}

{% block page_content %}
<div class="page-header">
</div>
<div class="col-md-6">
    <h3>User Profile Information</h3>
    <br> First Name: {{ user['first_name'] }}
    <br> Last Name: {{ user['last_name'] }}
    <br> Email: {{ user['email'] }}
    <br> Connected Access Points
    <ul>
        {% for node in nodes %}
        <li>{{ node['name'] }}
            <br><a href="{{ url_for('profile.node', id=node['id']) }}">View Access Point</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('profile.user_edit', id=user['id']) }}">Edit Profile</a>
    <br>
    <a href="{{ url_for('profile.user_password', id=user['id']) }}">Change Password</a>
</div>
{% endblock %}