{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Development PiHub: Access Control{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Access Control</h1>
</div>
{% for node in node_data %}
<div class="col-md-4">
    <br>{{ node['name'] }}<br>
    <a href="{{ url_for('profile.node', id=node['id']) }}">Configuration</a><br>
    <form action="/control/access" method="post">
        <input type="hidden" name="id" value="{{ node['id'] }}">
        <div class="btn-group" data-toggle="buttons">
            {% if node['is_open'] == True %}
            <label class="btn btn-primary active">
                <input type="radio" name="is_open" id="option1" value="True" onchange="this.form.submit();" autocomplete="off" checked> Unlocked
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="is_open" id="option2" value="False" onchange="this.form.submit();" autocomplete="off"> Locked
            </label>
            {% else %}
            <label class="btn btn-primary">
                <input type="radio" name="is_open" id="option3" value="True" onchange="this.form.submit();" autocomplete="off"> Unlocked
            </label>
            <label class="btn btn-primary active">
                <input type="radio" name="is_open" id="option4" value="False" onchange="this.form.submit();" autocomplete="off" checked> Locked
            </label>
            {% endif %}
        </div>
    </form>
</div>
{% endfor %}
<div class="col-md-12"><br>
    <label class="btn btn-default">
        <a href="{{ url_for('control.add_node') }}">Add Node</a>
    </label>
</div>
{% endblock %}